/* .logo {
  height: 80px;
  width: 80px;
  margin-left: 10px;
}

.logo img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
} */

.navigation {
  padding: 0 8px;
  display: flex;
  height: 72px;
  align-items: center;
  /* position: sticky;
  top: 0;
  z-index: 10; */
}

.navigation ul {
  display: flex;
  gap: 24px;
  list-style-type: none;
  font-weight: 500;
  /* align-items: end; */
  margin-left: auto;
}
